*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    display: grid;
    grid-template-columns: 70% 27%;
    grid-template-rows: 4em 1fr;
    margin: 0 auto;
    gap: 2em;
    margin-bottom: 1em;
}
.main-heading{
        grid-column: 1/3;
        text-align: center;
        margin-top: .5em;
        text-decoration: underline;
}
.para{
    margin: 1em 0;
}


a{
    color: rgb(0, 166, 255);
}
hr{
    width: 98%;
}
code{
    border: 2px solid rgb(208, 208, 208);
    display: block;
    font-weight: 600;
}
#sample-bp-box-borderd-para{
    border: 3px solid rgb(208, 208, 208);
    padding: .5em 0;
}
ul,ol{
    margin-left: 2em;
}

.btn{
    padding: .9em;
    border-radius: 28px;
    outline: none;
    font-weight: 600;
    font-size: 0.7rem;
    background-color: white;
}
.older-post{
    color: rgb(0, 166, 255);
    border:1px solid rgb(0, 166, 255) ;
}
.newest-post{
    color:rgb(208, 208, 208);
    border:1px solid rgb(208, 208, 208);
}

/* typography */

.sample-bp-title{
    font-size: 2.3rem;
}
h3{
    font-style: italic;
}
.about-box{
    background-color: rgb(208, 208, 208);
    padding: 1em;
    border-radius: 2px;
    margin-bottom: 2em;
}
.archives-box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.2em;
    padding: 1em;
}
.elsewhere-box{
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    padding: 1em;
}